<a href="https://colab.research.google.com/github/aasjunior/UdemyEstruturaDados_Python/blob/main/Tratamento_erros_excecoes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Tratamento de erros e exceções


*   NameError: variável não foi definida
*   TypeError: tipos de dados incompatíveis
*   RuntimeError: erro de execução
*   SyntaxError: sintaxe digitada é inválida e não reconhecida pelo interpretador
*   ZeroDivisionError: divisão por zero
*   IndexError: índice está fora da coleção

### Tipos de erros

In [1]:
3 = 4

SyntaxError: ignored

In [2]:
print('Meu nome é: ', nome)

NameError: ignored

In [3]:
print(3 / 0)

ZeroDivisionError: ignored

In [4]:
2.3 / 'cachorro'

TypeError: ignored

In [5]:
c = [1, 2, 3, 4, 5]
c

[1, 2, 3, 4, 5]

In [6]:
c[5]

IndexError: ignored

## Tratamento de erros

In [10]:
try:
  n = int(input('Digite um número inteiro: '))
except:
  print('Valor inválido')
else:
  print(f'Valor digitdo é {n}')

Digite um número inteiro: k
Valor inválido

In [1]:
while True:
  try:
    n = int(input('Digite um número inteiro: '))
  except:
    print('Valor inválido')
  else:
    print(f'Valor digitdo é {n}')
    break

Digite um número inteiro: l
Valor inválido
Digite um número inteiro: 4
Valor digitdo é 4

In [2]:
while True:
  try:
    p = int(input('Digite um número inteiro: '))
  except ValueError:
    print('Valor inválido')
  except KeyboardInterrupt:
    print('Usuário interrompeu a execução')
    break
  else:
    print(f'Valor digitdo é {p}')
    break

Digite um número inteiro: t
Valor inválido
Usuário interrompeu a execução
Digite um número inteiro: 5